<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="SelenProject">
        <parameter name="urlaccountpage" value="/index.php?controller=my-account"></parameter>
        <classes>
            <class name="Register"></class>
        </classes>
    </test>
</suite>